@model PagedList.IPagedList<WebXemPhim.Models.PhongChieu>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/admin-style.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<div class="container">
    <h2>THÔNG TIN PHÒNG CHIẾU<span>@Html.ActionLink("Thêm Mới", "Create", "", new { @class = "btn-warning btn-create-title" })</span></h2>
    @using (Html.BeginForm("Index", "PhongChieu", FormMethod.Get))
    {
        <div class="col-md-4 input-group input-group-sm search-frm">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <span class="input-group-btn">
                <input type="submit" value="Tìm Kiếm" class="btn btn-info btn-flat" />
            </span>
        </div>
    }
    <hr />
    <div class="table-content">
        <table class="table" id="keywords" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().TenPhongChieu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().SoLuongGhe)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ThongTin)
                    </th>
                    <th>HÀNH ĐỘNG</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenPhongChieu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuongGhe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThongTin)
                        </td>
                        <td>
                            <i class="fa fa-pencil"></i> @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.PhongChieuID }) |
                            <i class="fa fa-trash-o"></i> @Html.ActionLink("Xóa", "Delete", new { id = item.PhongChieuID }) |
                            <i class="fa fa-info"></i> @Html.ActionLink("Chi Tiết", "Details", new { id = item.PhongChieuID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        <br />
        <div class="page-number">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trong @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>



